* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: white;
}

/* Header  */
header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 75px;
}

nav {
    display: flex;
    gap: 45px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 32px;
}

.menu {
    font-size: 45px;
}

/* Faixa do título  */
.titulo {
    background: #72c67c;
    color: white;
    text-align: center;
    padding: 40px;
}

.titulo h1 {
    font-weight: normal;
    font-size: 42px;
}


.laboratorios-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    width: 100%;
    margin-top: 140px;
}

/* Card dos labs */
.card-lab {
    width: 250px;
    height: 190px;

    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 8px 10px 15px rgba(0, 0, 0, 0.18);
}

.card-lab h2 {
    margin: 0 0 35px 0;

    text-align: center;

    font-size: 27px;
    font-weight: 500;

    color: #418649;
}

/* Botão agendar */
.btn-agendar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 45px;

    background-color: transparent;

    border: 2px solid #418649;
    border-radius: 20px;

    color: #418649;

    font-size: 19px;
    text-decoration: none;

    box-sizing: border-box;

    transition: all 0.3s ease;
}

.btn-agendar:hover {
    background-color: #418649;
    color: white;

    cursor: pointer;
}


